<h1> Song information! </h1>

<h3> <%= @song.name %> </h3> 
<h3> <%= link_to @song.artist.name, artist_path(@song.artist) %> </h3>
<h3> <%= link_to @song.instrument.name, instrument_path(@song.instrument) %> </h3>

<%= button_to "Delete Song", song_path(@song), method: "delete" %>
<%= link_to "Edit Song", edit_song_path(@song) %>